.*.sw*
*.csv
*.ipynb

*.pth
*.model
*.pt
*.npy

*.pyc

*.mp4
*.y4m

*.png
*.jpg
*.pdf

*DS_Store

!/error_concealment_interface/libs/
!/error_concealment_interface/libs/**/
!/error_concealment_interface/libs/**/*.pth
